################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.ipch
*.exe
*.ilk
*.pdb
*.tlog
*.db-wal
*.obj
*.idb
*.suo
*.enc
*.vcxproj
*.filters
*.user
*.opendb
*.db
*.log
*.sln
*.db-shm
